step_functions/order_workflow_definition.json
{
  "Comment": "A State Machine for booking reservations by invoking a Lambda functions",
  "StartAt": "BookHotelState",
  "States": {
    "BookHotelState": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-north-1:xxxxxxxxxxxx:function:BookHotelClientS1P2",
      "ResultPath": "$.hotel",
      "Parameters": {
        "start_date.$": "$.hotel.start_date",
        "near.$": "$.museum.name",
        "end_date.$": "$.hotel.end_date",
        "buyer_id.$": "$.purchase.buyer_id"
      },
      "Retry": [
        {
          "ErrorEquals": ["TransientError"],
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["InvalidInputError"],
          "Next": "Fallback"
        }
      ],
      "Next": "BookMuseumState"
    },
    "BookMuseumState": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-north-1:xxxxxxxxxxxx:function:BookMuseumClientS1P2",
      "Next": "NotifySuccess",
      "ResultPath": "$.museum",
      "Parameters": {
        "museum_name.$": "$.museum.name",
        "when.$": "$.museum.when",
        "buyer_id.$": "$.purchase.buyer_id"
      },
      "Retry": [
        {
          "ErrorEquals": ["TransientError"],
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "CancelHotelState"
        }
      ]
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:eu-north-1:xxxxxxxxxxxx:OrderCompletedTopic",
        "Message": {
          "Input": "$"
        }
      },
      "Next": "Fallback"
    },
    "CancelHotelState": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-north-1:xxxxxxxxxxxx:function:CancelHotelClient",
      "Next": "Fallback",
      "Parameters": {
        "reservation_id.$": "$.hotel.reservation_id"
      }
    },
    "Fallback": {
      "Type": "Pass",
      "End": true
    }
  }
}
